[core]
	editor = code --wait
	filemode = false
[user]
	name = Icaro Silva
	email = ikaromarlon@gmail.com
[alias]
  a = !git add --all 
	c = !git commit -m
  p = !git push
  s = !git status -s
  l = !git log --pretty=format:'%C(green)%h%C(yellow)%d %C(white)%s %C(cyan)- %cn, %C(blue)%cr'
[init]
	defaultBranch = main
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE